{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    {% if heading %}
    <h1>{{ heading }}</h1>
    {% endif %}

    <!-- -->

    {% if text %}
    <p class="lead">{{ text }}</p>
    {% endif %}

    <!-- -->
    {% if subs %} {% for sub in subs %}
    <p class="sub-text">{{ sub }}</p>
    {% endfor %} {% endif %}

    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="question_id" value="{{ id }}" />

      <div class="w-100">
        <!--  -->
        {% block form_widget %} {%endblock %}
      </div>

      <button
        type="submit"
        name="button"
        class="btn btn-primary btn-lg w-100 mt-3"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
