{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Before you start the survey ...</h1>

    {% if user_group.use_model_estimates_only %}
    <!-- This is the control group -->

    <p>
      For the 20 official estimates, you can choose to either use your own
      estimates exclusively or use the estimates by the model exclusively as
      your official estimates.
      <span class="important-check">{{ attention_text }}</span>
    </p>

    {% elif user_group.use_freely %}
    <!-- This is the use freely group -->

    <p>
      For the 20 official estimates, you can choose to
      <span class="important-check">{{ attention_text }}</span>
    </p>

    {% elif user_group.only_10_percentile_change %}
    <!-- This is both the modify outcome groups -->

    <p>
      For the 20 official estimates, you can choose to have either your
      estimated percentiles or the statistical model’s estimated percentile
      determine your bonus.
      <span class="important-check">{{ attention_text }}</span> You will make
      estimates no matter which option you choose.
    </p>

    {% elif user_group.can_change_attributes %}
    <!-- This is both the modify input groups -->

    <p>
      <span class="important-check">{{ attention_text }}</span>
    </p>

    {% endif %}

    <p>
      <strong>
        Please type the underlined sentences in the paragraph above in the text
        box:
      </strong>
    </p>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}

      <div class="w100">
        <textarea name="important-check" id="" class="w-100" required rows="4">
{{ submitted_attention_statement }}</textarea
        >
      </div>

      <button
        type="submit"
        name="button"
        class="btn btn-primary btn-lg w-100 mt-3"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
