<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="robots" content="noindex" />

    <title>{% block title_text %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/site.css" />
  </head>
  <body>
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 cmu-logo display-4">
          <img src="/static/img/cmu-wordmark-horizontal-w.png" />
        </span>
      </div>
    </nav>

    <main class="container">{% block body_content %}{% endblock %}</main>

    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
