{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    {% if user_group.use_freely %}
    <h1>Your bonus structure</h1>
    {% else %}
    <h1>Choose the bonus structure</h1>
    {% endif %}

    <p class="lead">Next, you will make 20 predictions.</p>

    {% if user_group.use_freely %}
    <!-- This is the use freely group -->

    <p>
      You will be able to use the predictions produced by the statistical model to
      form your final predictions.
    </p>

    {% else %}
    <!-- This is the control group & modify outcome group -->

    <p>
      You will be given a choice of having your predictions count as the
      final predictions or having the model’s predictions count as the
      final predictions.
    </p>

    {% endif %}

    {% if user_group.uses_proposed_payment_scheme %}
      <p>
      You will receive $1 for completing this survey.
      </p>

    {% else %}
      <p>
      You will receive $2 for completing this survey.
      </p>

    {% endif %}

    <p>
      Additionally, you will receive bonus money based
      on the accuracy of the final predictions. You can earn $1 to $5 depending
      on how close the final predictions are to students' actual performances.
    </p>

    <p>The bonus will be determined as follows:</p>

    {% if user_group.uses_proposed_payment_scheme %}

    <ul>
      <li>
        $5 — within 14 points of students' actual performance on average
      </li>
      <li>
        $4 — within 17 points of students' actual performance on average
      </li>
      <li>
        $3 — within 20 points of students' actual performance on average
      </li>
      <li>
        $2 — within 23 points of students' actual performance on average
      </li>
      <li>
        $1 — within 26 points of students' actual performance on average
      </li>
    </ul>

    <p>For example, the following performance will earn you $3 of bonus:</p> 
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col"># of prediction</th>
          <th scope="col">Your Prediction</th>
          <th scope="col">Student's Actual Performance</th>
          <th scope="col">Difference</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>90</td>
          <td>50</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>90</td>
          <td>80</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>80</td>
          <td>90</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Total Difference</th>
          <td colspan="2"></td>
          <td>60</td>
        </tr>
        <tr>
          <th scope="row">Average Performance</th>
          <td colspan="2"></td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">Bonus Earned</th>
          <td colspan="2"></td>
          <td><strong>$3</strong></td>
        </tr>
      </tbody>
      </tbody>
    </table>

    {% else %}

    <ul>
      <li>
        $5 — within 5 points of students' actual performance on average
      </li>
      <li>
        $4 — within 10 points of students' actual performance on average
      </li>
      <li>
        $3 — within 15 points of students' actual performance on average
      </li>
      <li>
        $2 — within 20 points of students' actual performance on average
      </li>
      <li>
        $1 — within 25 points of students' actual performance on average
      </li>
    </ul>
      <p>For example, the following performance will earn you $3 of bonus:</p> 
      <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col"># of prediction</th>
          <th scope="col">Your Prediction</th>
          <th scope="col">Student's Actual Performance</th>
          <th scope="col">Difference</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>75</td>
          <td>50</td>
          <td>25</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>90</td>
          <td>80</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>80</td>
          <td>90</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Total Difference</th>
          <td colspan="2"></td>
          <td>45</td>
        </tr>
        <tr>
          <th scope="row">Average Performance</th>
          <td colspan="2"></td>
          <td>15</td>
        </tr>
        <tr>
          <th scope="row">Bonus Earned</th>
          <td colspan="2"></td>
          <td><strong>$3</strong></td>
        </tr>
      </tbody>
      </tbody>
    </table>

    {% endif %}

    <!-- -->

    {% if user_group.use_freely %}
    <form action="" method="POST">
      {% csrf_token %}
      <button
        type="submit"
        name="button"
        class="btn btn-primary mt-3 btn-lg w-100"
      >
        Start survey
      </button>
    </form>
    {% else %} {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}

      <p class="mb-1">
        <strong>
          Would you like the bonus to be determined based on the model’s
          predictions or your own predictions of the students’ percentiles? 
        </strong>
        <br>
        (Regardless what you choose, you will have access to the same information about the student) 
      </p>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="bonus_preference"
          id="model"
          value="model"
          required
        />

        {% if user_group.only_10_percentile_change %}
        <label class="form-check-label" for="model">
          Use the statistical model’s predictions to determine my
          bonus, adjusting them by up to 10 percentiles if need be
        </label>

        {% elif user_group.can_change_attributes %}
        <label class="form-check-label" for="model">
          Use the statistical model’s predictions to determine my
          bonus, adjusting them if need be
        </label>

        {% elif user_group.can_change_algorithm %}
        <label class="form-check-label" for="model">
          Use the statistical model’s predictions to determine my
          bonus, adjusting them if need be
        </label>

        {% else %}

        <label class="form-check-label" for="model">
          Use the statistical model’s predictions to determine my
          bonus
        </label>
        {% endif %}
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="bonus_preference"
          id="self"
          value="self"
          required
        />
        <label class="form-check-label" for="self">
          Use my own predictions to determine my bonus</label
        >
      </div>

      <button
        type="submit"
        name="button"
        class="btn btn-primary mt-3 btn-lg w-100"
      >
        Start survey
      </button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
