{% extends "base.html" %} {% block body_content %}

<div class="row w-50 py-5 attr-selection">
  <div class="col-md-12">
    <h3>Choose the attributes that you want to use to build the model</h3>

    <form action="" method="POST">
      {% csrf_token %}

      <!-- -->

      {% for attr_class, attrs in attributes.items %}

      <div name="{{ attr_class }}">
        <h4 class="pt-3">
          {{ attr_class }}
          <a href="#" onclick="return select_all('{{ attr_class }}')"
            ><span class="select-all-link">Select all</span></a
          >
        </h4>

        {% for attr in attrs %}

        <div class="form-check">
          <input
            class="form-check-input attribute-select-checkbox"
            type="checkbox"
            value="{{ attr.attr_id }}"
            id="{{ attr.attr_id }}"
            name="attributes"
          />
          <label class="form-check-label" for="{{ attr.attr_id }}">
            <strong>{{ attr.text_to_show }}</strong>: {{ attr.description }}
          </label>
        </div>
        {% endfor %}
      </div>

      {% endfor %}

      <button type="submit" name="button" class="btn btn-primary my-2">
        Build the model
      </button>
    </form>
  </div>
</div>

<div class="model-building-status">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="w-50 pt-3 m-auto">
    <h3>Building the model with your attributes.</h3>

    <p class="lead">
      Don't refresh or go back. You will be redirected to the next screen
      automatically.
    </p>
  </div>
</div>

<div class="model-finished-status">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="w-50 pt-3 m-auto">
    <h3 class="text-success">Successfully built the model</h3>

    <p class="lead">
      Don't refresh or go back. You will be redirected to the next screen
      automatically.
    </p>
  </div>
</div>

<script>
  // Select all attrs
  function select_all(what) {
    if (what === "all") {
      return;
    }

    div = document.getElementsByName(what)[0];
    checkboxes = div.querySelectorAll('input[type="checkbox"]');

    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = true;
    }

    // Have to return false to prevent scrolling to top
    return false;
  }

  // Model building stuff

  const submit_button = document.querySelector("button");

  function showProgressModal() {
    var regular_div_area = document.getElementsByClassName("attr-selection")[0];
    regular_div_area.style["display"] = "none";

    var modal_area = document.getElementsByClassName(
      "model-building-status"
    )[0];
    modal_area.style["display"] = "unset";
  }

  function showFinishedModal() {
    var modal_area = document.getElementsByClassName(
      "model-building-status"
    )[0];
    modal_area.style["display"] = "none";

    var modal_area = document.getElementsByClassName(
      "model-finished-status"
    )[0];
    modal_area.style["display"] = "unset";
  }

  function getSelectedAttributes() {
    console.log("Getting the selected attributes");

    attribute_checkboxes = document.getElementsByClassName(
      "attribute-select-checkbox"
    );

    selected_attributes = [];

    for (i = 0; i < attribute_checkboxes.length; i++) {
      var attribute = attribute_checkboxes[i];
      if (attribute.checked === true) {
        selected_attributes.push(attribute.value);
      }
    }

    return selected_attributes;
  }

  function sleep(ms) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  async function buildModel(data) {
    // Sleep first
    await sleep(4000);

    console.log("Sending data");

    const XHR = new XMLHttpRequest();

    let urlEncodedData = "",
      urlEncodedDataPairs = [],
      name;

    // Turn the data object into an array of URL-encoded key/value pairs.
    for (name in data) {
      urlEncodedDataPairs.push(
        encodeURIComponent(name) + "=" + encodeURIComponent(data[name])
      );
    }

    // Combine the pairs into a single string and replace all %-encoded spaces to
    // the '+' character; matches the behavior of browser form submissions.
    urlEncodedData = urlEncodedDataPairs.join("&").replace(/%20/g, "+");

    // Define what happens on successful data submission
    XHR.addEventListener("load", async function (event) {
      // alert("Done building the model");
      showFinishedModal();
      await sleep(3000);
      console.log(event);
      location.href = event.target.response;
    });

    // Define what happens in case of error
    XHR.addEventListener("error", function (event) {
      alert("Oops! We couldn't build the model. Try again.");
    });

    // Set up our request
    XHR.open("POST", "/api/create-linear-reg");

    // Add the required HTTP header for form data POST requests
    XHR.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

    // Finally, send our data.
    XHR.send(urlEncodedData);
  }

  submit_button.addEventListener("click", function (event) {
    event.preventDefault();
    var selected_attrs = getSelectedAttributes();

    if (selected_attrs.length == 0) {
      alert("You must select something");
      return;
    }

    showProgressModal();

    buildModel({
      selected_attributes: selected_attrs,
      csrfmiddlewaretoken: document.getElementsByName("csrfmiddlewaretoken")[0]
        .value,
    });
  });
</script>

{% endblock %}
