{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Choose the correct MTurk ID</h1>

    <p class="sub-text">
      It looks like the MTurk IDs that you entered before starting the survey
      and after didn't match. To make sure we are able to pay you, we need the
      correct MTurk ID.
    </p>

    <!-- -->

    <form action="" method="POST">
      {% csrf_token %}

      <p class="mb-1">
        <strong> Choose the correct MTurk ID </strong>
      </p>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="final_mturk_id"
          id="mturk_id_1"
          value="{{ mturk_id_1 }}"
          required
        />

        <label class="form-check-label" for="mturk_id_1">
          {{ mturk_id_1 }}
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="final_mturk_id"
          id="mturk_id_2"
          value="{{ mturk_id_2 }}"
          required
        />

        <label class="form-check-label" for="mturk_id_2">
          {{ mturk_id_2 }}
        </label>
      </div>

      <button
        type="submit"
        name="button"
        class="btn btn-primary mt-3 btn-lg w-100"
      >
        Choose the MTurk ID and finish the survey
      </button>
    </form>
  </div>
</div>

{% endblock %}
