{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Exit survey</h1>

    <form action="" method="POST">
      {% csrf_token %}

      <div class="w100 mt-3">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="18"
            max="200"
            class="form-control"
            id="age"
            placeholder="What is your age?"
            name="age"
            autocomplete="off"
            required
          />
          <label for="age">What is your age?</label>
        </div>

        <!--  -->

        {% for question, question_details in questions.items %}

        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="{{ question }}"
            name="{{ question }}"
            aria-label="{{ question_details.question_text }}"
            required
          >
            <option selected disabled value="">Select an option</option>

            {% for option in question_details.options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
          <label for="{{ question }}"
            >{{ question_details.question_text }}</label
          >
        </div>

        {% endfor %}

        <!--  -->

        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            max="9999"
            class="form-control"
            id="prev_mturk_algo_participation_number"
            placeholder="How many times in total have you participated in algorithm-related
            studies on Amazon Mechanical Turk?"
            name="prev_mturk_algo_participation_number"
            autocomplete="off"
            required
          />
          <label for="prev_mturk_algo_participation_number"
            >How many times have you participated in algorithm-related
            studies?</label
          >
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" id="att_check" name="att_check" required>
            <option selected disabled value="">Select an option</option>
            <option>True</option>
            <option>False</option>
          </select>
          <label for="prev_mturk_algo_participation_number"
            >Jimmy has a score of 77. This means he did better than 77% of the
            students.</label
          >
        </div>

        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="att_check_2"
            name="att_check_2"
            required
            style="padding-top: 3rem; height: calc(5rem + 2px)"
          >
            <option selected disabled value="">Select an option</option>
            {% for option in model_performance_options %}
            <option value="{{ option }}">
              {{ option }} points off on average
            </option>
            {% endfor %}
          </select>
          <label for="prev_mturk_algo_participation_number"
            >At the beginning of the study, you learned about the model's
            average performance. What did the survey say the model's average
            performance was?</label
          >
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="final_mturk_id"
            placeholder="Enter your MTurk ID"
            name="final_mturk_id"
            autocomplete="off"
            required
          />
          <label for="final_mturk_id">Your MTurk ID</label>
        </div>
      </div>

      <button type="submit" name="button" class="btn btn-primary btn-lg w-100">
        Complete survey
      </button>
    </form>
  </div>
</div>

{% endblock %}
