{% extends "base.html" %} {% block body_content %}

<div class="row w-50 py-5">
  <div class="col-md-12">
    <h2>Exit survey</h2>

    <form action="" method="POST">
      {% csrf_token %}

      <div class="w100">
        <!--  -->

        {% for question, question_details in questions.items %}

        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="{{ question }}"
            name="{{ question }}"
            aria-label="{{ question_details.question_text }}"
          >
            <option value="Unselected" selected>Select an option</option>

            {% for option in question_details.options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
          <label for="{{ question }}"
            >{{ question_details.question_text }}</label
          >
        </div>

        {% endfor %}

        <!--  -->
      </div>

      <button type="submit" name="button" class="btn btn-primary my-2">
        Complete survey
      </button>
    </form>
  </div>
</div>

{% endblock %}
