{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Please read carefully</h1>

    <p class="lead">
      For the 20 predictions, you can choose to use a statistical model that
      will give you predictions based on other students’ performance or use your
      own predictions.
    </p>

    <p>
      <span class="important-check">{{ attention_text }}</span> This allows you
      to determine the "inner working" of processing the information. You will
      then review the performance of the statistical model and decide if you
      want to use the model or not. If you use the model, you can use the
      model's estimated percentile and modify the estimates as much as you would
      like to form your official estimate.
    </p>

    <p>
      The model is designed to predict each student’s reading test score (as a
      percentile) using the same information that you will receive. The model is
      based on data from thousands of high school sophomores. This will be a
      sophisticated model, put together and optimized through a program written
      by the research team
    </p>

    <p>
      <strong>
        Please type the underlined sentences in the paragraph above in the text
        box:
      </strong>
    </p>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}

      <div class="w100">
        <textarea name="important-check" id="" class="w-100" required rows="4">
{{ submitted_attention_statement }}</textarea
        >
      </div>

      <button
        type="submit"
        name="button"
        class="btn btn-primary btn-lg w-100 mt-3"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
