{% extends "base.html" %} {% block body_content %}
<div class="row">
  <div class="col-md-12">
    <h1>Prediction #{{ estimate_number }} of 20</h1>
  </div>
</div>

<div class="row g-5">
  <div class="col-md-12">
    <p class="sub-text">
      All the data shown in this study represent data from real high school
      students. You will base your prediction on the following information about
      the student.
    </p>

    <div class="accordion accordion-flush mb-4" id="attrs-accordion">
      {% for attr_class, attrs in attributes.items %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="{{ attr_class|slugify }}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-{{ attr_class|slugify }}"
            aria-expanded="true"
            aria-controls="panelsStayOpen-{{ attr_class|slugify }}"
          >
            {{ attr_class }}
          </button>
        </h2>
        <div
          id="panelsStayOpen-{{ attr_class|slugify }}"
          class="accordion-collapse collapse show"
          aria-labelledby="{{ attr_class|slugify }}"
        >
          <!-- Accordion body starts here -->
          <div class="accordion-body">
            {% if not attrs %}
            <!-- -->
            <div class="attr-group--list-item-description">
              <!-- Ideally should've been a different class and style -->
              <span
                >You didn't select any datapoint in this group to build your
                model</span
              >
            </div>
            <!-- -->
            {% endif %}
            <!-- -->

            {% for attr in attrs %}
            <div class="attr-group--list-item">
              <div class="attr-group--list-item-heading">
                <span>{{ attr.text_to_show }}: {{ attr.value }}</span>
              </div>
              <div class="attr-group--list-item-description">
                <span>{{ attr.description }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-5">
    {% if use_model_estimates_for_bonus_calc %}

    <!---->

    <div class="card">
      <div class="card-body">
        <p class="fw-bold">Model's estimate</p>
        <p class="fs-1">{{ question.model_estimate }}</p>
        {% if use_only_model_estimates_for_bonus_calc %}
        <p class="sub-text small-text">
          Because you have chosen to use the model’s prediction as the final prediction, your
          prediction for the student’s percentile on the standardized reading test
          is {{ question.model_estimate }}. This is the number that is used to
          determine your bonus.
        </p>
        {% endif %}
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        {% if use_only_model_estimates_for_bonus_calc %}
        <p class="fw-bold">
          However, you can still make your own prediction. What do you think
          this student’s percentile was on the standardized reading test?
        </p>
        {% else %}
        <p class="fw-bold">
          What do you think this student’s percentile was on the standardized
          reading test?
        </p>
        {% endif %}
        <form class="" action="" method="post" autocomplete="off">
          {% csrf_token %}
          <input
            type="text"
            name="question_id"
            value="{{question.id}}"
            hidden
          />

          {% if error_message %}
          <div class="alert alert-danger" role="alert">{{ error_message }}</div>
          {% endif %}

          <div class="form-floating">
            <input
              type="number"
              min="0"
              max="100"
              class="form-control"
              id="user_estimate"
              placeholder="0-100"
              name="user_estimate"
              required
              autofocus
            />
            <label for="user_estimate">Enter your prediction (1-100)</label>
          </div>
          <button
            type="submit"
            name="button"
            class="btn btn-primary mt-3 btn-lg w-100"
          >
            Continue
          </button>
        </form>
      </div>
    </div>
    {% else %}

    <div class="card">
      <div class="card-body">
        <p class="fw-bold">
          What do you think this student’s percentile was on the standardized
          reading test?
        </p>
        <form class="" action="" method="post" autocomplete="off">
          {% csrf_token %}
          <input
            type="text"
            name="question_id"
            value="{{question.id}}"
            hidden
          />

          {% if error_message %}
          <div class="alert alert-danger" role="alert">{{ error_message }}</div>
          {% endif %}

          <div class="form-floating">
            <input
              type="number"
              min="0"
              max="100"
              class="form-control"
              id="user_estimate"
              placeholder="0-100"
              name="user_estimate"
              required
              autofocus
            />
            <label for="user_estimate">Enter your prediction (1-100)</label>
          </div>
          <button
            type="submit"
            name="button"
            class="btn btn-primary mt-3 btn-lg w-100"
          >
            Continue
          </button>
        </form>
      </div>
    </div>

    {% endif %}
  </div>
</div>

{% endblock %}
