{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Thank you for participating!</h1>
    <p>
      <!-- -->
      You’ve earned a base rate of
      <strong>
        <!-- -->
        {% if user_group.uses_proposed_payment_scheme %} $1
        <!---->
        {% else %}$4{% endif %}
      </strong>
      and a bonus of <strong>${{ bonus }}</strong>.
      <!-- -->

      <!-- -->
      You should receive your payment in a few days once the hit is accepted.
    </p>
    {% if user_group.has_deception %}

    <!-- -->
    <p>
      You can now view and download the
      <a href="/static/debrief-form.pdf" target="_blank"
        >Debriefing Form for Participation in a Research Study</a
      >.
    </p>
    <!-- -->

    {% endif %}

    <p>
    <strong> Please do not discuss the content of the survey with other people, including members of Prolific forums. </strong>
    <strong> Discussing any content from our survey will invalidate our results. Thank you! </strong>
    </p>

    <p>
      You can reach out to lingweic@andrew.cmu.edu if you have any questions.
    </p>

    <p>
      <strong><a href="https://app.prolific.co/submissions/complete?cc=5056B7B5">You must click here to go back to Prolific so it will certify you have completed the survey </a></strong>
    </p>
  </div>
</div>

{% endblock %}
