{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Understand the Payment Structure</h1>

    <p class="lead">You will make 20 official estimates in a few moments.</p>

    {% if user_group.use_model_estimates_only %}
    <!-- This is the control group -->
    <p>
      You will be given a choice of having your estimated ranks count as the
      official estimates or having the model’s estimated ranks count as the
      official estimates.
    </p>

    {% elif user_group.use_freely %}
    <!-- This is the use freely group -->

    <p>
      You will be able to use the estimates produced by the statistical model to
      make your official estimates.
    </p>

    {% endif %}

    <p class="important-check">
      During the official round, you will receive additional bonus money based
      on the accuracy of the official estimates. You can earn $1 to $5 depending
      on how close the official estimates are to the actual ranks.
    </p>

    <p>The bonus will be determined as follows:</p>

    <ul>
      <li>
        $5 — within 5 percentiles of students’ actual percentiles on average
      </li>
      <li>
        $4 — within 10 percentiles of students’ actual percentiles on average
      </li>
      <li>
        $3 — within 15 percentiles of students’ actual percentiles on average
      </li>
      <li>
        $2 — within 20 percentiles of students’ actual percentiles on average
      </li>
      <li>
        $1 — within 25 percentiles of students’ actual percentiles on average
      </li>
    </ul>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}

      <p class="mt-3">
        <strong
          >Please type the underlined sentences in the paragraph above the text
          box.</strong
        >
      </p>

      <div class="w100">
        <textarea name="important-check" id="" class="w-100" rows="4" required>
{{ submitted_attention_statement }}</textarea
        >
      </div>

      <button
        type="submit"
        name="button"
        class="btn btn-primary btn-lg w-100 mt-3"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
