{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Understand the Payment Structure</h1>

    <p class="lead">You will make 20 predictions in a few moments.</p>

    {% if user_group.use_freely %}
    <!-- This is the use freely group -->

    <p>
      You will be able to use the predictions produced by the statistical model to
      make your final predictions.
    </p>

    {% else %}
    <!-- This is the control group & modify outcome group -->
    <p>
      You will be given a choice of having your own predictions count as the
      final predictions or having the model’s predictions count as the
      final predictions.
    </p>

    {% endif %}

    <p class="important-check">
      You will receive additional bonus money based
      on the accuracy of the final predictions. You can earn $1 to $5 depending
      on how close the final predictions are to students' actual performances.
    </p>

    <p>The bonus will be determined as follows:</p>

    {% if user_group.uses_proposed_payment_scheme %}

    <ul>
      <li>
        $5 — within 14 points of students' actual performance on average
      </li>
      <li>
        $4 — within 17 points of students' actual performance on average
      </li>
      <li>
        $3 — within 20 points of students' actual performance on average
      </li>
      <li>
        $2 — within 23 points of students' actual performance on average
      </li>
      <li>
        $1 — within 26 points of students' actual performance on average
      </li>
    </ul>

    {% else %}

    <ul>
      <li>
        $5 — within 5 points of students' actual performance on average
      </li>
      <li>
        $4 — within 10 points of students' actual performance on average
      </li>
      <li>
        $3 — within 15 points of students' actual performance on average
      </li>
      <li>
        $2 — within 20 points of students' actual performance on average
      </li>
      <li>
        $1 — within 25 points of students' actual performance on average
    </ul>

    {% endif %}

    <!-- -->

    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}

      <p class="mt-3">
        <strong
          >Please type the underlined sentences in the paragraph above the text
          box.</strong
        >
      </p>

      <div class="w100">
        <textarea name="important-check" id="" class="w-100" rows="4" required>
{{ submitted_attention_statement }}</textarea
        >
      </div>

      <button
        type="submit"
        name="button"
        class="btn btn-primary btn-lg w-100 mt-3"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
