{% extends "base.html" %} {% block body_content %}

<div class="row">
  <div class="col-md-12">
    <h1>Understand the data</h1>

    <p class="lead">
      All the data shown in this study represent data from real high school
      students. You will base your estimation on the following information about
      the student.
    </p>

    {% if user_group.can_change_attributes %}
    <p class="sub-text">
      Please read and decide on which data points you'd want to use to build
      your model. In the next page, you will get to select as many data points
      as possible for your estimates.
    </p>
    {% endif %} {% comment %}
    <div class="attributes-list">
      {% for attr_class, attrs in attributes.items %}
      <div class="attr-group">
        <div class="attr-group--heading">
          <span>{{ attr_class }}</span>
        </div>
        <div class="attr-group--list">
          {% for attr in attrs %}
          <div class="attr-group--list-item">
            <div class="attr-group--list-item-heading">
              <span>{{ attr.text_to_show }}</span>
            </div>
            <div class="attr-group--list-item-description">
              <span>{{ attr.description }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      {% endfor %}
    </div>
    {% endcomment %}

    <div class="accordion accordion-flush mb-4" id="attrs-accordion">
      {% for attr_class, attrs in attributes.items %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="{{ attr_class|slugify }}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-{{ attr_class|slugify }}"
            aria-expanded="true"
            aria-controls="flush-{{ attr_class|slugify }}"
          >
            {{ attr_class }}
          </button>
        </h2>
        <div
          id="flush-{{ attr_class|slugify }}"
          class="accordion-collapse collapse show"
          aria-labelledby="{{ attr_class|slugify }}"
          data-bs-parent="#attrs-accordion"
        >
          <div class="accordion-body">
            {% for attr in attrs %}
            <div class="attr-group--list-item">
              <div class="attr-group--list-item-heading">
                <span>{{ attr.text_to_show }}</span>
              </div>
              <div class="attr-group--list-item-description">
                <span>{{ attr.description }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <form class="" action="" method="post">
      {% csrf_token %}
      <button type="submit" name="button" class="btn btn-primary btn-lg w-100">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
