<div>
  <h2>{{ algo }}</h2>

  <h3 id="{{ algo|slugify }}-1">How does it work?</h3>
  <p>
    This algorithm makes predictions by using outcomes of other a student’s
    score by using the scores of other students who have similar
    characteristics.
  </p>

  <h3 id="{{ algo|slugify }}-2">Let's try an example</h3>
  <p>
    To illustrate how it works, let’s take the example of predicting the sale
    price of a house listing.
  </p>

  <p>
    <img src="/static/img/algorithms/knn-regression.png" alt="" />
  </p>

  <p>
    This algorithm then works similar to a real estate agent who assesses your
    house and suggests a listing price. You first tell the algorithm/agent all
    the features that you think should be associated with the sales price such
    as the location, age, size, the surrounding amenities of the house, and so
    on. The agent will identify comparable houses in similar neighborhoods that
    have similar age, area, and other features to the house you are selling. A
    reasonable prediction for the price of your house should then be the average
    of the prices of these similar houses.
  </p>
  <p>
    For example, if your house is in a good school district and about 2,000
    square feet. The algorithm will find houses that are in similarly good
    school district with about the same indoor area. The average price of these
    houses will be about $3 million, which will be the suggested sale price for
    your listing as well.
  </p>

  <h3 id="{{ algo|slugify }}-3">Advantages</h3>
  <p>
    The algorithm can <strong>easily explain its predictions</strong> by
    referring to outcomes of similar houses. It can also capture the more
    complicated relationships between the factors and outcomes than linear
    regression algorithms.
  </p>

  <h3 id="{{ algo|slugify }}-4">Disadvantages</h3>
  <p>
    The main drawback of the approach is if we have to predict the price for a
    house that is like no other, it will be very difficult to do so because
    there is
    <strong>no other “neighbors” that look similar to the house</strong>. As a
    result it would make subpar prediction for this outlier.
  </p>

  <h3 id="{{ algo|slugify }}-5">Curious to learn more?</h3>
  <p>
    You can learn more about it
    <a
      href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm#k-NN_regression"
      target="_blank"
      >here</a
    >!
  </p>
</div>
