<div>
  <h2>{{ algo }}</h2>
  <h3 id="{{ algo|slugify }}-1">How does it work?</h3>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you
    scroll down the page, the appropriate navigation link is highlighted. It's
    repeated throughout the component example. We keep adding some more example
    copy here to emphasize the scrolling and highlighting.This is some
    placeholder content for the scrollspy page. Note that as you scroll down the
    page, the appropriate navigation link is highlighted. It's repeated
    throughout the component example. We keep adding some more example copy here
    to emphasize the scrolling and highlighting.This is some placeholder content
    for the scrollspy page. Note that as you scroll down the page, the
    appropriate navigation link is highlighted. It's repeated throughout the
    component example. We keep adding some more example copy here to emphasize
    the scrolling and highlighting.
  </p>
  <h3 id="{{ algo|slugify }}-2">Let's try an example</h3>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you
    scroll down the page, the appropriate navigation link is highlighted. It's
    repeated throughout the component example. We keep adding some more example
    copy here to emphasize the scrolling and highlighting.This is some
    placeholder content for the scrollspy page. Note that as you scroll down the
    page, the appropriate navigation link is highlighted. It's repeated
    throughout the component example. We keep adding some more example copy here
    to emphasize the scrolling and highlighting.This is some placeholder content
    for the scrollspy page. Note that as you scroll down the page, the
    appropriate navigation link is highlighted. It's repeated throughout the
    component example. We keep adding some more example copy here to emphasize
    the scrolling and highlighting.
  </p>
  <h3 id="{{ algo|slugify }}-3">Advantages</h3>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you
    scroll down the page, the appropriate navigation link is highlighted. It's
    repeated throughout the component example. We keep adding some more example
    copy here to emphasize the scrolling and highlighting.This is some
    placeholder content for the scrollspy page. Note that as you scroll down the
    page, the appropriate navigation link is highlighted. It's repeated
    throughout the component example. We keep adding some more example copy here
    to emphasize the scrolling and highlighting.This is some placeholder content
    for the scrollspy page. Note that as you scroll down the page, the
    appropriate navigation link is highlighted. It's repeated throughout the
    component example. We keep adding some more example copy here to emphasize
    the scrolling and highlighting.
  </p>
  <h3 id="{{ algo|slugify }}-4">Disadvantages</h3>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you
    scroll down the page, the appropriate navigation link is highlighted. It's
    repeated throughout the component example. We keep adding some more example
    copy here to emphasize the scrolling and highlighting.This is some
    placeholder content for the scrollspy page. Note that as you scroll down the
    page, the appropriate navigation link is highlighted. It's repeated
    throughout the component example. We keep adding some more example copy here
    to emphasize the scrolling and highlighting.This is some placeholder content
    for the scrollspy page. Note that as you scroll down the page, the
    appropriate navigation link is highlighted. It's repeated throughout the
    component example. We keep adding some more example copy here to emphasize
    the scrolling and highlighting.
  </p>
  <h3 id="{{ algo|slugify }}-5">Curious to learn more?</h3>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you
    scroll down the page, the appropriate navigation link is highlighted. It's
    repeated throughout the component example. We keep adding some more example
    copy here to emphasize the scrolling and highlighting.This is some
    placeholder content for the scrollspy page. Note that as you scroll down the
    page, the appropriate navigation link is highlighted. It's repeated
    throughout the component example. We keep adding some more example copy here
    to emphasize the scrolling and highlighting.This is some placeholder content
    for the scrollspy page. Note that as you scroll down the page, the
    appropriate navigation link is highlighted. It's repeated throughout the
    component example. We keep adding some more example copy here to emphasize
    the scrolling and highlighting.
  </p>
</div>
