body {
  background-color: #efefef;
}

main {
  background-color: #fff;
  padding: 40px !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  /* min-height: calc(100vh - 200px); */
  max-width: 800px;
  /* max-width: 960px; */
}

/* Set the main's max-width on the algo content screen */
main.algo-content {
  max-width: 1024px;
}

/* Text */
h1 {
  font-weight: 400;
  font-size: 2rem;
}

.small-text {
  font-size: 14px;
}

p.sub-text {
  color: #777;
}

p.lead {
  font-weight: 400;
  color: #333;
}

.bg-primary {
  background-color: #b00 !important;
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.9) !important;
}

.cmu-logo > img {
  width: 300px;
  max-width: 100%;
}

.consent-wrap {
  max-height: 175px;
  /* max-height: 250px; */
  overflow: hidden;
  padding: 20px;
  background: rgba(250, 250, 250, 0.9);
  border: 0.5px solid #eee;
  /* background-color: #efefef; */
  border-radius: 0px;
  transition-property: max-height;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  position: relative;
}

.consent-wrap-open {
  max-height: 100%;
}

.consent-read-more {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  /* background-image: linear-gradient(to bottom, transparent, white); */
  background-image: linear-gradient(to bottom, #fafafaad, #fafafa);
  margin: 0;
  padding: 10px;
  width: 100%;
}

.btn-read-more {
  background: white;
  font-size: 12px;
  color: #0b2d72;
  border-color: #0b2d72;
}

.consent-wrap p,
.consent-wrap ul {
  font-size: 14px;
}

.important-check {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: underline;
}

.likert {
  list-style: none;
  width: 100%;
  margin: 0;
  /* padding: 0 0 35px; */
  display: block;
  border-bottom: 2px solid #efefef;
}

.likert:last-of-type {
  border-bottom: 0;
}

.likert:before {
  content: "";
  position: relative;
  top: 8px;
  left: 9.5%;
  display: block;
  background-color: #eee;
  height: 2px;
  width: 78%;
}

.likert li {
  display: inline-block;
  width: 19%;
  text-align: center;
  vertical-align: top;
}

.likert li input[type="radio"] {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6px;
}

.likert li label {
  width: 100%;
  font-size: 14px;
}

.model-building-status,
.model-finished-status {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
}

.select-all-link {
  font-weight: normal;
  font-size: small;
  margin-left: 10px;
}

/* Button styles */

.btn {
}

.btn-primary {
  background-color: #002d72;
  border: 1px solid #002d72;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #fff;
  color: #002d72 !important;
}

/* Alerts */
.alert {
  font-size: 12px;
  padding: 10px;
  border-radius: 0;
}

/* Input borders */

.form-check-input[type="checkbox"] {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

textarea {
  border-radius: 0;
}

/* Attributes listing new card type design */

.attributes-list {
  border-radius: 0;
  border: 1px solid #eee;
  padding: 20px;
  padding-top: 0;
}

.attr-group--heading {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.attr-group--list-item-heading {
  font-weight: bold;
  /* margin-top: 10px; */
  font-size: 14px;
}

.attr-group--list-item-description {
  color: #777;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Style the radio buttons & checkboxes */

.form-check {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

/* Change style for checkboxes in consent form */

.consent-form .form-check {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: none;
}

/* Cards */
.card {
  border-radius: 0;
  border: 1px solid #eee;
}

/* Left-nav for understand algos */
.understand-algo .left-nav li {
  border-bottom: 1px solid #ccc;
}

.understand-algo .left-nav li:last-child {
  border-bottom: none;
}

.understand-algo .left-nav .btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
  border-radius: 0;
  width: 100%;
  font-size: 0.85rem;
  /* border-bottom: 1px solid #ccc; */
}

.understand-algo .left-nav .btn-toggle:last-child {
  border-bottom: none;
}

.understand-algo .left-nav .btn-toggle:hover,
.understand-algo .left-nav .btn-toggle:focus {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: none;
}

.understand-algo .left-nav .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  /* content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.understand-algo .left-nav .btn-toggle[aria-expanded="true"] {
  color: #0c63e4;
  background: #e7f1ff;
}
.understand-algo .left-nav .btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.understand-algo .left-nav .btn-toggle-nav {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.understand-algo .left-nav .btn-toggle-nav li {
  padding: 0.25rem 1.5rem;
  font-size: 0.8rem;
  border-bottom: none;
}

.understand-algo .left-nav .btn-toggle-nav li a {
  text-decoration: none;
  color: #555;
}

.understand-algo .sticky-top {
  top: 15px;
}

.understand-algo .algo-content h2 {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  color: #000;
}

.understand-algo .algo-content h3 {
  font-size: 1rem;
  padding-top: 1.5rem;
  color: #000;
}

.understand-algo .algo-content p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #555;
}

.understand-algo .algo-content p:last-child {
  margin-bottom: 0rem;
}

.understand-algo .btn-primary {
  font-size: 0.85rem;
  margin-bottom: 2rem;
}

.understand-algo pre {
  padding: 20px;
  background: #eee;
  font-size: 0.75rem;
}

.understand-algo img {
  max-width: 560px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.note-read-algos {
  font-size: 12px;
  color: #000000;
  border: solid 1px #ccc;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 3px;
}
